<app-navbar></app-navbar>
<div class="container mx-auto my-auto max-w-3xl mt-4">
  <div class="my-10">
    <h1 class="text-center font-bold">Natalidad por condado según el tipo de pago, "Obra Social"</h1>
    <h2 class="text-center">Año: 2018-01-01 | 2017-01-01 | 2016-01-01 </h2>
  </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
      <!-- Agrega una tarjeta (card) con la información de las fuentes de pago -->
  <div class="my-8 p-6 bg-white rounded-md shadow-md">
    <h2 class="text-lg font-semibold mb-4">Información de Fuentes de Pago:</h2>
    <table class="table-auto mx-auto">
      <thead>
        <tr>
          <!-- categories: ['Unknown or Not Stated','Other','Self Pay','Private Insurance','Medicaid'], -->
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="border px-4 py-2">Medicaid (programa de asistencia médica en Estados Unidos)</td>
          <td class="border px-4 py-2">Medicaid</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="flex justify-center mb-4">
      <button routerLink="/consultas/natalidad" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">
        Volver
      </button>
    </div>
</div>
<app-footer></app-footer>
