<router-outlet></router-outlet>
<ngx-ui-loader
  bgsColor= #07ebee
  bgsPosition= "bottom-right"
  bgsType= "three-bounce"
  blur= 5
  delay= 0
  fastFadeOut= true
  fgsColor= #07ebee
  fgsPosition="center-center"
  fgsType= "three-bounce"
  logoPosition="center-center"
  logoUrl= ""
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(40, 40, 40, 0.8)"
  pbColor=#07ebee
  pbDirection="ltr"
  text= "Cargando..."
  textColor= "#FFFFFF"
  textPosition="center-center"
  maxTime=-1
  minTime= 300
></ngx-ui-loader>
