.table-container {
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #c084fc;
  z-index: 1;
}
/* Añade los estilos de tus botones aquí */
.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.table-cell {
  min-width: 150px; /* Establece un ancho mínimo para las celdas */
}

