<app-navbar></app-navbar>
<div class="  w-full h-auto flex flex-col justify-normal items-center p-8">
  <div  class=" relative  bg-[#d8b4fe] w-11/12 h-60  rounded-lg  flex flex-row justify-normal">
      <div class=" w-3/5 flex justify-center" >
          <h1 class="text-3xl p-20 font-bold text-gray-700">Agregar comentario</h1>
      </div>
      <div class="  w-2/5 flex justify-center">
          <img
          class="w-40 h-32 md:w-72 md:h-60 "
          src="./../../../assets/img/buscar.png"
          alt=""
        />
      </div>
  </div>
  <div class=" flex flex-row justify-center items-center bg-white border border-gray-200  shadow absolute mt-44 w-1/2 h-32   rounded-lg ">
    <div class="flex flex-shrink-0 ">
      <img class="h-8 w-auto mr-2" src="./../../../assets/img/comments.png" alt="Your Company">
    </div>
    <div class="">
      <p>Cantidad de mensajes: <span class="text-red-500 text-lg">{{contadorMessage}}</span></p>
    </div>
  </div>
  <div class="text-purple-400 text-center mt-36">
    <h2><span class="font-bold">Nombre Consulta:</span> {{nameConsult}}</h2>
  </div>
</div>
<!-- Tabla -->
<div class="  w-full h-screen flex flex-col justify-normal items-center p-8">
  <div class="relative  mt-16 w-11/12 h-96 overflow-x-auto shadow-2xl sm:rounded-lg ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-700">
      <thead class="border-b text-xs text-gray-700 uppercase bg-[#c084fc] ">
        <th scope="col" class="px-6 py-4 table-cell" *ngIf="showColumn('id')">
          Id
        </th>
        <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('year')">
            Año
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('county_of_Residence')">
            Condado_de_Residencia
        </th>
        <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('county_of_Residence_FIPS')">
            Condado_de_Residencia_FIPS
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('births')">
            Nacimientos
        </th>
        <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('ave_Age_of_Mother')">
            Edad_Promedio_de_la_Madre
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('ave_OE_Gestational_Age_Wks')">
            Edad_Gestacional_Promedio_OE
        </th>
        <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('ave_LMP_Gestational_Age_Wks')">
            Edad_Gestacional_Promedio_LMP
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('ave_Birth_Weight_gms')">
            Peso_de_Nacimiento_Promedio_gms
        </th>
        <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('ave_Pre_pregnancy_BMI')">
            BMI_Promedio_Antes_del_Embarazo
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('ave_Number_of_Prenatal_Wks')">
            Número_Promedio_de_Semanas_Prenatales
        </th>
        <!-- <th scope="col" class="px-6 py-3 bg-indigo-400 table-cell" *ngIf="showColumn('abnormalConditionsCheckedDesc')">
            Condiciones_Anormales
        </th>
        <th scope="col" class="px-6 py-3 table-cell" *ngIf="showColumn('abnormalConditionsCheckedYN')">
            Condiciones_Anormales_Verificadas_YN
        </th> -->
        <th scope="col" class="px-6 py-3 bg-indigo-400 text-center table-cell">
          Graficar
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of getItems()" class="bg-[#d8b4fe] border-b border-[#d8b4fe] ">
          <td scope="row" class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('id')}">
              {{detalle.id}}
          </td>
          <td class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('year')}" >
              {{detalle.year}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('county_of_Residence')}">
              {{detalle.county_of_Residence}}
          </td>
          <td  class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('county_of_Residence_FIPS')}">
              {{detalle.county_of_Residence_FIPS}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('births')}">
            {{detalle.births}}
          </td>
          <td class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('ave_Age_of_Mother')}">
            {{detalle.ave_Age_of_Mother}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('ave_OE_Gestational_Age_Wks')}">
            {{detalle.ave_OE_Gestational_Age_Wks}}
          </td>
          <td class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('ave_LMP_Gestational_Age_Wks')}">
            {{detalle.ave_LMP_Gestational_Age_Wks}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('ave_Birth_Weight_gms')}">
            {{detalle.ave_Birth_Weight_gms}}
          </td>
          <td class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('ave_Pre_pregnancy_BMI')}">
            {{detalle.ave_Pre_pregnancy_BMI}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] table-cell" [ngClass]="{'bg-[#c084fc]': showColumn('ave_Number_of_Prenatal_Wks')}">
            {{detalle.ave_Number_of_Prenatal_Wks}}
          </td>
          <!-- <td class="px-6 py-4 bg-indigo-400 text-yellow-50 table-cell" [ngClass]="{'bg-indigo-400': showColumn('abnormalConditionsCheckedDesc')}" >
            {{detalle.abnormalConditionsCheckedDesc}}
          </td>
          <td class="px-6 py-4 bg-[#c084fc] " [ngClass]="{'bg-[#c084fc]': showColumn('abnormalConditionsCheckedYN')}" >
            {{detalle.abnormalConditionsCheckedYN}}
          </td> -->
          <td class="px-6 py-4 bg-indigo-400 table-cell">
            <button (click)="graficar(detalle.id)" class="text-yellow-50 bg-[#be28c9] hover:bg-orange-300 focus:outline-none focus:ring-4  font-sans rounded-full text-xs px-4 py-1.5 text-center">Graficar</button>
          </td>
        </tr>
      </tbody>
      <ng-container *ngIf="consultaDetalle.length === 0">
        <tr class="" >
            <td colspan="13" class=" py-4 text-center font-bold">No hay datos disponibles</td>
        </tr>
      </ng-container>
    </table>
    <div class="pagination-container ">
      <pagination
        [(ngModel)]="currentPage"
        [totalItems]="totalItems"
        [itemsPerPage]="pageSize"
        [maxSize]="totalItems"
        [boundaryLinks]="true"
        [rotate]="false"
      ></pagination>
    </div>
  </div>
  <div class="pagination-buttons">
    <button class="btn-pagination bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Prev</button>
    <span class="pagination-label mx-2">{{ currentPage }} / {{ totalPages }}</span>
    <button class="btn-pagination bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
 <!-- Mostrar grafico y modal -->
 <div *ngIf="mostrarGrafico" class="fixed inset-0 overflow-y-auto z-50 ">

  <div class=" flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Background overlay -->
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

    <!-- Modal panel -->
    <div class="inline-block align-bottom  bg-white rounded-lg text-left overflow-hidden shadow-2xl transform transition-all sm:my-8 sm:align-middle  sm:max-w-5xl sm:w-full " role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <app-grafico-search-id></app-grafico-search-id>
      <button (click)="cerrarGrafico()" class="absolute top-0 right-0 mt-4 mr-4 text-gray-500 hover:text-gray-700 focus:outline-none">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- List Comments -->
<div class="md:container md:mx-auto px-60 mb-16 ">
  <h2 class="pb-10 text-center">Lista de comentarios de usuarios</h2>
  <ul role="list" class="divide-y divide-gray-100">
    <li *ngFor="let comentario of commentResponseList" class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-sm bg-gray-50" src="./../../../assets/img/comment.png" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{ comentario.nameUser }}</p>
          <p class="mt-1 ml-5 truncate text-xs leading-5 text-gray-500">{{ comentario.comment }}</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Fecha</p>
        <p class="mt-1 text-xs leading-5 text-gray-500"><time datetime="2023-01-23T13:23Z">{{ comentario.creationDate | date:'medium' }}</time></p>
      </div>

    </li>


  </ul>

</div>
<!-- Formulario comentario -->
<div class=" mb-10   w-full h-screen  flex justify-center">

  <div class="w-full h-3/5 max-w-md bg-white border border-gray-200 rounded-lg shadow drop-shadow-lg ">
    <div class="flex items-center justify-center h-auto">
      <form  [formGroup]="comentarioForm" (ngSubmit)="enviarComentario()" class="mt-10 w-3/4  " >
        <div class="bg-white  text-gray-900 text-sm rounded-lg  block p-2.5">
          <!-- Agrega campos para el nombre de usuario, nombre de consulta y comentario -->
          <input type="text" formControlName="nameUser" placeholder="Nombre de Usuario" class="w-full mb-2.5 p-2 border rounded-lg" />
          <div *ngIf="comentarioForm.get('nameUser')?.hasError('required') && comentarioForm.get('nameUser')?.touched" class="text-red-500 text-xs mb-1 ml-1">
            El usuario es requerido
          </div>
          <div *ngIf="comentarioForm.get('nameUser')!.hasError('email') && comentarioForm.get('nameUser')!.touched" class="text-red-500 text-xs mb-1 ml-1">
            Ingrese un correo electrónico válido
          </div>
          <!--<input type="text"  placeholder="Nombre de Consulta" class="w-full mb-2.5 p-2 border rounded-lg" />-->
          <textarea formControlName="comment" placeholder="Comentario" class="w-full mb-2.5 p-2 border rounded-lg"></textarea>
          <div class="text-red-500 text-xs mb-1 ml-1" *ngIf="comentarioForm.get('comment')?.hasError('required') && comentarioForm.get('comment')?.touched">
            El comentario es requerido
          </div>
        </div>
        <div class="flex flex-row mt-4 space-x-1">
          <button type="submit" class="focus:outline-none font-bold text-white bg-[#a855f7] hover:bg-[#d9f99d] focus:ring-4 focus:bg-[#d9f99d] rounded-lg text-sm px-5 w-full h-10">
            Guardar Comentario
          </button>

        </div>
      </form>
      </div>

  </div>
</div>








