
<div class="container mx-auto my-auto max-w-4xl">
  <div class="my-10">
    <h1 class="text-center font-bold">Condiciones Anormales Verificadas Sí/No</h1>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [yaxis]="chartOptions.yaxis!"
      [xaxis]="chartOptions.xaxis!"
      [legend]="chartOptions.legend!"
      [colors]="chartOptions.colors!"
      [grid]="chartOptions.grid!"
    ></apx-chart>
  </div>
</div>

