<app-navbar></app-navbar>
<div class="container mx-auto my-auto max-w-3xl bg-white p-6 rounded-md shadow-md mt-4">
  <div class="my-10">
    <h1 class="text-center font-bold">Nacimientos por año en todos los condados de EE.UU</h1>
    <h2 class="text-center">Año: 2018-01-01 | 2017-01-01 | 2016-01-01 </h2>
  </div>

  <!-- Contenido del gráfico -->
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>

  <!-- Botón Volver -->
  <div class="flex justify-center mt-8">
    <button routerLink="/consultas/natalidad" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Volver
    </button>
  </div>
</div>
<app-footer></app-footer>

