
<div class="container mx-auto my-auto max-w-2xl">
  <div class="my-10">
    <h1 class="text-center font-bold">Natalidad por raza del padre a nivel de condado</h1>
    <h2 class="text-center">Año: 2018-01-01 | 2017-01-01 | 2016-01-01 </h2>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [xaxis]="chartOptions.xaxis!"
    ></apx-chart>
  </div>
  <div class="flex justify-center">
    <button routerLink="/consultas/natalidad" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">
      Volver
    </button>
  </div>
</div>
