<app-navbar></app-navbar>

<div class="w-full h-auto flex flex-col justify-normal items-center p-8">
  <div class="relative bg-gradient-to-r from-[#FFB6C1] to-[#F08080] w-11/12 h-60 rounded-lg flex flex-row justify-normal">
    <div class="w-3/5 flex justify-center">
      <h1 class="text-3xl p-20 font-bold text-gray-700">Consultas guardadas</h1>
    </div>
    <div class="w-2/5 flex justify-end">
      <img class=" md:w-full rounded-md md:h-60" src="./../../../assets/img/estados-sinfondo.png" alt="" />
    </div>
  </div>

  <div class="flex flex-row justify-center bg-white border border-gray-200 shadow absolute mt-44 w-1/2 h-32 rounded-lg pt-8">
    <div>
      <button type="button" (click)="loadConsults()"
        class="focus:outline-none font-bold text-gray-700 bg-gradient-to-r from-[#FFB6C1] to-[#F08080] hover:bg-gradient-to-r focus:ring-4 focus:bg-gradient-to-r rounded-lg text-sm px-5 w-40 h-10 ">Ver
        consultas</button>
    </div>
  </div>

  <div class="w-full h-screen flex flex-col justify-normal items-center p-8">
    <div class="relative mt-32 w-full h-96 overflow-x-auto shadow-2xl sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-700">
        <thead class="text-xs text-gray-700 uppercase ">
          <tr class="text-center">
            <th scope="col" class="px-6 py-3 bg-gradient-to-r from-[#FFB6C1] to-[#F08080]">
              ID
            </th>
            <th scope="col" class="px-6 py-3 bg-gradient-to-r from-[#FEDCDC] to-[#FFB6C1]">
              Comentario
            </th>
            <th scope="col" class="px-6 py-3 bg-gradient-to-r from-[#FFB6C1] to-[#FEDCDC]">
              Nombre de la consulta
            </th>
            <th scope="col" class="px-6 py-3 bg-gradient-to-r from-[#FEDCDC] to-[#FFB6C1]">
              Nombre usuario
            </th>
            <th scope="col" class="px-6 py-3 bg-gradient-to-r from-[#FFB6C1] to-[#FEDCDC]">
              Ver tabla
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consult of queriesResonses" class="border border-white text-center">
            <th scope="row" class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap bg-[#fecaca]">
              {{consult.id}}
            </th>
            <td class="px-6 py-4 bg-[#fee2e2] ">
              {{consult.comment}}
            </td>
            <td class="px-6 py-4 bg-[#fecaca]">
              {{consult.nameConsult}}
            </td>
            <td class="px-6 py-4 bg-[#fee2e2] ">
              {{consult.nameUser}}
            </td>
            <td scope="col" class="px-6 py-3 bg-[#fecaca] ">
              <button (click)="verTabla(consult.id, consult.nameConsult)"
                class="text-white bg-[#f87171] hover:bg-orange-300 focus:outline-none focus:ring-4  font-sans rounded-full text-xs px-6 py-2.5 text-center mb-2 ">Ver</button>
            </td>
          </tr>
        </tbody>
        <ng-container *ngIf="queriesResonses.length === 0">
          <tr class=" ">
            <td colspan="5" class=" py-4 text-center font-semibold">No hay datos disponibles</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
